<div class="panel panel-default"> 
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"> Auth token </div>
      <div class="col-md-4"> 
        <input type="text" ng-model="config.AuthToken"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"> Zoho token </div>
      <div class="col-md-4"> 
        <input type="text" ng-model="config.ZohoToken"/>
      </div>
    </div>
    <div class="row">
      <button ng-click="save(config)">save</button>
    </div>
  </div>
</div>
