<div class="panel panel-default"> 
  <div class="panel-body">
    <h4> Edit password</h4>    
    <div class="row">
      <div class="col-md-2"> Password </div>
      <div class="col-md-4"> 
        <input type="password" ng-model="password"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"> Repeat password </div>
      <div class="col-md-4"> 
        <input type="password" ng-model="rep_password"/>
      </div>
    </div>
    <div class="row" ng-if="password === rep_password">
      <button ng-click="savePassword(password)"> save </button>
    </div>
  </div>
  <div class="panel-body">
    <h4> Add user</h4>
    <div class="row">
      <div class="col-md-2"> Username </div>
      <div class="col-md-4"> 
        <input type="text" ng-model="new_user.Username"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"> Password </div>
      <div class="col-md-4"> 
        <input type="password" ng-model="new_user.Password"/>
      </div>
    </div>
    <div class="row">
      <button ng-click="addUser(new_user)">save</button>
    </div>
  </div>
  <div class="panel-body">
    <h4> Users </h4>
    <ul ng-repeat="user in users">
      <li> {{user.Username}} </li>
    </ul>
  </div>


</div>
